.mySwiper {
    height: 100vh;

    background: url('../../assets/img/login-2-bg.jpg') no-repeat !important;
    background-size: cover;
}

.swiper-slide {
    text-align: start;

    /* Center slide text vertically */
    
    display: flex;
    justify-content: start;
    align-items: center;
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.slide-content {
    max-width: 540px;
    text-align: start;
    padding-right: 50px;
}

.swiper-pagination-bullet {
    background: #ffffff !important;
    height: 8px !important;
    width: 8px !important;
    margin: 10px 0 !important;
}

.swiper-pagination-bullet-active {
    background: #4AF8E3 !important;
    height: 8px !important;
    width: 8px !important;
}

.swiper-pagination {
    left: 40px !important;
}

.quote-icon {
    position: absolute;
    left:-44px;
    top: -85px;
    z-index: -10;
}